<p id="notice"><%= notice %></p>

<p>
  <strong>Motor type:</strong>
  <%= @ot.motor_type %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @ot.brand %>
</p>

<p>
  <strong>Power:</strong>
  <%= @ot.power %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @ot.speed %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @ot.voltage %>
</p>

<p>
  <strong>Current:</strong>
  <%= @ot.current %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @ot.serial %>
</p>

<p>
  <strong>Oder activities:</strong>
  <%= @ot.oder_activities %>
</p>

<%= link_to 'Edit', edit_ot_path(@ot) %> |
<%= link_to 'Back', ots_path %>
